.user-avatar-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  .user-avatar-status {
    z-index: 1;
    font-size: 12px;
    padding: 2px;
    color: #fff;
    background-color: royalblue;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .user-avatar {
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    background-color: orange;
    font-size: 8vw;
    font-weight: 100;
    height: 100%;
    width: 100%;
  }
}
