.view-game-lobby {
  background-color: lightgray;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  .view-game-lobby-main {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    .room-list-wrapper {
      flex: 1;
      overflow: scroll;
    }
  }
  .view-game-lobby-footer {
    padding: 10px 0;
    .number-of-online-player {
      text-align: center;
    }
  }
}
