.room-list {
  height: 100%;
  background-color: #fff;
  padding: 0;
  .no-room-text {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
  }
  .room-list-content {
    padding: 0 10px;
    .room-list-room {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 10px;
      margin-bottom: 10px;
      height: 70px;
      .room-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        .room-name {
          font-size: 18px;
        }
        .room-number {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .room-actions {
        display: flex;
        // align-items: center;
        // flex-flow: row;
        .room-status {
          display: flex;
          align-items: center;
          white-space: nowrap;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }

}
