.user-list {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
  .player-list-item {
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    &.active {
      .user-status {

        .user-avatar {
          background-color: orange;
        }
      }

      .user-avatar {
        position: relative;
        color: #fff;
      }
    }
    .user-status {
      position: relative;
      height: 18vw;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: flex-start;
      .player-list-item-status {
        z-index: 1;
        font-size: 12px;
        padding: 2px;
        color: #fff;
        background-color: royalblue;
        margin-right: 2px;
        margin-bottom: 2px;
      }
      .user-avatar {
        position: absolute;
        border-radius: 6px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8vw;
        background-color: #fff;
        font-weight: 100;
        height: 100%;
        width: 100%;
      }

    }
    .player-list-item-username {
      padding: 5px;
      font-size: 3vw;
      font-weight: 100;
      text-align: center;
    }
  }
}
