.room-list {
  height: 100%;
  background-color: #fff;
  padding: 0;
  .no-room-text {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
  }
  .room-list-content {
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
  }
    .room-list-room {
      // flex: 1;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px;
      width: 150px;
      .room-name {
        font-size: 18px;
      }
      .room-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .room-number {
          font-size: 16px;
        }
        .room-status {
          font-size: 14px;
        }
      }
      .room-list-item-header {
        padding: 12px;
        font-size: 18px;
        display: flex;
        background-color: royalblue;
        .room-list-item-header-titie {
          flex: 1;
        }
      }
      .room-list-item-detail {
        padding: 12px;
        font-size: 20px;
        background-color: #fff;
        color: royalblue;
        display: flex;
        align-items: center;
        .number-of-player {
          flex: 1;
        }
        .room-list-item-operations {
          .join-in-button {
            color: royalblue;
            border-color: royalblue;
          }
        }
      }
    }
}
