.view-playing-room {
  background-color: lightgray;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  .view-playing-room-main {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .start-game-button-wrapper {
      padding: 5px;
    }
    .room-message-wrapper {
      flex: 1;
      overflow: hidden;
    }
  }
}
