.room-message {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  .room-message-list {
    flex: 1;
    overflow-y: scroll;
    .room-message-list-item {
      display: flex;
      .room-message-speaker {

      }
      .room-message-content {
        flex: 1;
        margin-left: 10px;
      }
      .room-message-speaker-time {
        font-size: 12px;
      }
    }

  }
  .room-message-sender {
    display: flex;
  }
}
