.user-list {
  display: flex;
  flex-flow: row wrap;
  .user-list-user {
    flex: 0 0 25%;
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    .user-list-item-username {
      font-size: 14px;
      margin-top: 4px;
    }
  }
}
