.game-lobby-header {
  // width: 100%;
  display: flex;
  padding: 0 10px;
  .MuiSvgIcon-root { // 复写 material UI icon 组件
    color: #fff;
  }
  .game-lobby-header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
